.loader {

          position: absolute;
          z-index: 1;
          border: 5px solid #f3f3f3;
          border-radius: 50%;
          border-top: 5px solid #3498db;
          width: 30px;
          height: 30px;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% {
            -webkit-transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
          }
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        .bubble-them {
          position: relative;
          background: #f3f3f3;
          border: 1px solid #f3f3f3;
          max-width: 250px;
          padding: 10px;
          font-family: arial;
          margin: 10px;
          font-size: 14px;
          border-radius: 6px;
          margin-right: 50%;
      }

        .bubble-me {
          position: relative;
          background: #f3f3f3;
          border: 1px solid #f3f3f3;
          max-width: 250px;
          padding: 10px;
          font-family: arial;
          margin: 10px;
          font-size: 14px;
          border-radius: 6px;
          margin-left: 50%;
      }

      .nav li:hover {
        background: #f3f3f3;
      }

#center-section{
  background-color: white;
}

.form-signin {
  max-width: 330px;
  padding-top: 350px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.affix-content .container .page-header{
  margin-top: 0;
}

.affix-sidebar{
  padding-right:0; 
  font-size:small;
  padding-left: 0;
}  
.affix-row, .affix-container, .affix-content{
  height: 100%;
  overflow: scroll;
  margin-left: 0;
  margin-right: 0;    
} 
.affix-content{
  background-color:white; 
} 
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar{
  border-radius:0; 
  margin-bottom:0; 
  border:0;
}
.sidebar-nav .navbar ul {
  float: none;
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}  
}

@media (min-width: 769px){
.affix-content .container {
  width: 600px;
}
  .affix-content .container .page-header{
  margin-top: 0;
}  
}

@media (min-width: 992px){
.affix-content .container {
width: 900px;
}
  .affix-content .container .page-header{
  margin-top: 0;
}
}

@media (min-width: 1220px){
.affix-row{
  overflow: hidden;
}

.affix-content{
  overflow: auto;
}

.affix-content .container {
  width: 1000px;
}

.affix-content .container .page-header{
  margin-top: 0;
}
.affix-content{
  padding-right: 30px;
  padding-left: 30px;
}  
.affix-title{
  border-bottom: 1px solid #ecf0f1; 
  padding-bottom:10px;
}
.navbar-nav {
  margin: 0;
}
.navbar-collapse{
  padding: 0;
}
.sidebar-nav .navbar li a:hover {
  background-color: #428bca;
  color: white;
}
.sidebar-nav .navbar li a > .caret {
  margin-top: 8px;
}  
}

