<!DOCTYPE html>
<html>

<head>
    <title>Skill Analytics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-override">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#"><p>Skill Analytics</p></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Search by People<span class="sr-only">(current)</span></a></li>
        <li><a href="/chat">Chat</a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{current_user.name}}</a></li>
        <li>
          <button class="btn btn-danger navbar-btn" id="logout">Logout</button> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid container-fluid-override">
      <div class="row affix-row">
        <div class="col-sm-3 col-md-2 affix-sidebar">
          <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav" id="sidenav01">
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo" data-parent="#sidenav01" class="collapsed">Level <span class="caret pull-right"></span></a>
                    <div class="collapse" id="toggleDemo" style="height: 0px;">
                      <ul class="nav nav-list">
                          <li><a href="#" class="small" data-value="1" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 1</a></li>
                          <li><a href="#" class="small" data-value="2" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 2</a></li>
                          <li><a href="#" class="small" data-value="3" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 3</a></li>
                          <li><a href="#" class="small" data-value="4" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 4</a></li>
                          <li><a href="#" class="small" data-value="5" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 5</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">Speciality <span class="caret pull-right"></span></a>
                    <div class="collapse" id="toggleDemo2" style="height: 0px;">
                      <ul class="nav nav-list">
                        <li><a href="#" class="small" data-value="Analytics Portfolio" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Analytics Portfolio</a></li>
                        <li><a href="#" class="small" data-value="IIG" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;IIG</a></li>
                        <li><a href="#" class="small" data-value="zAnalytics" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;zAnalytics</a></li>
                        <li><a href="#" class="small" data-value="MDM" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;MDM</a></li>
                        <li><a href="#" class="small" data-value="Analytics Architects" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Analytics Architects</a></li>
                        <li><a href="#" class="small" data-value="II" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;II</a></li>
                        <li><a href="#" class="small" data-value="Data Warehouse/Database Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Data Warehouse/Database Specialist</a></li>
                        <li><a href="#" class="small" data-value="Collaboration Solutions Portfolio" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Collaboration Solutions Portfolio</a></li>
                        <li><a href="#" class="small" data-value="Cloud DevOps Engineer Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud DevOps Engineer Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Cloud Integrator Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud Integrator Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Cloud Digital Process Automator Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud Digital Process Automator Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Cloud Developer Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud Developer Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Cloud Services Portfolio" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud Services Portfolio</a></li>
                        <li><a href="#" class="small" data-value="ECM" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;ECM</a></li>
                        <li><a href="#" class="small" data-value="BI and Predictive" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;BI and Predictive</a></li>
                        <li><a href="#" class="small" data-value="Data Science" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Data Science</a></li>
                        <li><a href="#" class="small" data-value="FOPM" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;FOPM</a></li>
                        <li><a href="#" class="small" data-value="Cloud SysOps Engineer Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cloud SysOps Engineer Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Platform Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Platform Specialist</a></li>
                        <li><a href="#" class="small" data-value="Aspera Technical Specialist" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Aspera Technical Specialist</a></li>
                        <li><a href="#" class="small" data-value="Big Data" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Big Data</a></li>
                        <li><a href="#" class="small" data-value="Analytics Portfolio for SaaS" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Analytics Portfolio for SaaS</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo3" data-parent="#sidenav01" class="collapsed">Market <span class="caret pull-right"></span></a>
                    <div class="collapse" id="toggleDemo3" style="height: 0px;">
                      <ul class="nav nav-list">
                          <li><a href="#" class="small" data-value="CEWA: Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;CEWA: Africa</a></li>
                          <li><a href="#" class="small" data-value="Egypt" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Egypt</a></li>
                          <li><a href="#" class="small" data-value="ME TOP" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;ME TOP</a></li>
                          <li><a href="#" class="small" data-value="MEP" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;MEP</a></li>
                          <li><a href="#" class="small" data-value="Morrocco" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Morrocco</a></li>
                          <li><a href="#" class="small" data-value="NWA: Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;NWA: Africa</a></li>
                          <li><a href="#" class="small" data-value="South Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;South Africa</a></li>
                          <li><a href="#" class="small" data-value="Turkey" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Turkey</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo4" data-parent="#sidenav01" class="collapsed">Primary Industry <span class="caret pull-right"></span></a>
                    <div class="collapse" id="toggleDemo4" style="height: 0px;">
                      <ul class="nav nav-list">
                          <li><a href="#" class="small" data-value="Banking" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Banking</a></li>
                          <li><a href="#" class="small" data-value="Education" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Education</a></li>
                          <li><a href="#" class="small" data-value="Finance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Finance</a></li>
                          <li><a href="#" class="small" data-value="Insurance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Insurance</a></li>
                          <li><a href="#" class="small" data-value="Retail" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Retail</a></li>
                          <li><a href="#" class="small" data-value="Telecommunications" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Telecommunications</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo5" data-parent="#sidenav01" class="collapsed">Secondary Industry <span class="caret pull-right"></span></a>
                      <div class="collapse" id="toggleDemo5" style="height: 0px;">
                        <ul class="nav nav-list">
                            <li><a href="#" class="small" data-value="Banking" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Banking</a></li>
                            <li><a href="#" class="small" data-value="Chemicals and Petroleum" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Chemicals and Petroleum</a></li>
                            <li><a href="#" class="small" data-value="Energy and Utilities" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Energy and Utilities</a></li>
                            <li><a href="#" class="small" data-value="Media and Entertainment" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Media and Entertainment</a></li>
                            <li><a href="#" class="small" data-value="Retail" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Retail</a></li>
                            <li><a href="#" class="small" data-value="Insurance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Insurance</a></li>
                            <li><a href="#" class="small" data-value="Financial Markets" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Financial Markets</a></li>
                            <li><a href="#" class="small" data-value="Government" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Government</a></li>
                            <li><a href="#" class="small" data-value="Healthcare" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Healthcare</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <a href="#" data-toggle="collapse" data-target="#toggleDemo6" data-parent="#sidenav01" class="collapsed">Primary Skill <span class="caret pull-right"></span></a>
                      <div class="collapse" id="toggleDemo6" style="height: 0px;">
                          <ul class="nav nav-list">
                              <li><a href="#" class="small" data-value="BigInsights - Apache Hadoop" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;BigInsights - Apache Hadoop</a></li>
                              <li><a href="#" class="small" data-value="Cognos Analytics (V11) overall" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cognos Analytics (V11) overall</a></li>
                              <li><a href="#" class="small" data-value="Cognos Analytics Enterprise (includes administration / install / configuration)"
                                  tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cognos Analytics Enterprise (includes administration / install / configuration)</a></li>
                              <li><a href="#" class="small" data-value="Data Integration (DataStage and BigIntegrate)" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Data Integration (DataStage & BigIntegrate)</a></li>
                              <li><a href="#" class="small" data-value="DB2" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2</a></li>
                              <li><a href="#" class="small" data-value="DB2 for z/OS" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2 for z/OS</a></li>
                              <li><a href="#" class="small" data-value="DB2 zTools" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2 zTools</a></li>
                              <li><a href="#" class="small" data-value="Gardium DBAM" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Gardium DBAM</a></li>
                              <li><a href="#" class="small" data-value="Infromix" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Infromix</a></li>
                              <li><a href="#" class="small" data-value="MDM Advanced Edition" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;MDM Advanced Edition</a></li>
                              <li><a href="#" class="small" data-value="PureData for Analytics (PDA)" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;PureData for Analytics (PDA)</a></li>
                          </ul>
                      </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-1">
        <div class="hidden" style="height:40px;" id="loader">
          <div class="loader"></div>
        </div>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-primary" id="search">Search</button>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-primary" id="clear">Clear</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Market</th>
              <th>Skills</th>
              <th>Primary Ind.</th>
              <th>Secondary Ind.</th>
              <th>Primary Skill</th>
            </tr>
          </thead>
          <tbody id="tableList">
  
          </tbody>
        </table>
      </div>
    </div>
    <div id="test">
  
    </div>
  </div>









<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/javascript/main.js"></script>

</body>

