<!DOCTYPE html>
<html>

<head>
  <title>Skill Analytics</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/bulma.css">
  <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">
              <img src="" alt="Skills Analytics">
            </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Search by People<span class="sr-only">(current)</span></a></li>
          <li><a href="/chat">Chat</a></li>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{{current_user.name}}</a></li>
          <li>
            <button class="btn btn-danger navbar-btn" id="logout">Logout</button> </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="panel panel-primary" id="filters" style="width:50%; margin-left:25%">

    <div class="panel-heading">
      <h3>Filters</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="dropdown">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Skills <span class="caret"></span></button>
            <ul class="dropdown-menu" id="skills">
              <li><a href="#" class="small" data-value="skill 1" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 1</a></li>
              <li><a href="#" class="small" data-value="skill 2" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 2</a></li>
              <li><a href="#" class="small" data-value="skill 3" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;skill 3</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Speciality
                <span class="caret"></span></button>
            <ul class="dropdown-menu" id="spec">
              <li><a href="#" class="small" data-value="spec 1" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;spec 1</a></li>
              <li><a href="#" class="small" data-value="spec 2" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;spec 2</a></li>
              <li><a href="#" class="small" data-value="spec 3" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;spec 3</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Market
                    <span class="caret"></span></button>
            <ul class="dropdown-menu" id="market">
              <li><a href="#" class="small" data-value="CEWA: Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;CEWA: Africa</a></li>
              <li><a href="#" class="small" data-value="Egypt" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Egypt</a></li>
              <li><a href="#" class="small" data-value="ME TOP" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;ME TOP</a></li>
              <li><a href="#" class="small" data-value="MEP" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;MEP</a></li>
              <li><a href="#" class="small" data-value="Morrocco" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Morrocco</a></li>
              <li><a href="#" class="small" data-value="NWA: Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;NWA: Africa</a></li>
              <li><a href="#" class="small" data-value="South Africa" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;South Africa</a></li>
              <li><a href="#" class="small" data-value="Turkey" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Turkey</a></li>
            </ul>
          </div>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Primary Industry
                    <span class="caret"></span></button>
            <ul class="dropdown-menu" id="pind">
              <li><a href="#" class="small" data-value="Banking" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Banking</a></li>
              <li><a href="#" class="small" data-value="Education" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Education</a></li>
              <li><a href="#" class="small" data-value="Finance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Finance</a></li>
              <li><a href="#" class="small" data-value="Insurance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Insurance</a></li>
              <li><a href="#" class="small" data-value="Retail" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Retail</a></li>
              <li><a href="#" class="small" data-value="Telecommunications" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Telecommunications</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Secondary Industry
                    <span class="caret"></span></button>
            <ul class="dropdown-menu" id="sind">
              <li><a href="#" class="small" data-value="Banking" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Banking</a></li>
              <li><a href="#" class="small" data-value="Chemicals & Petroleum" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Chemicals & Petroleum</a></li>
              <li><a href="#" class="small" data-value="Energy & Utilities" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Energy & Utilities</a></li>
              <li><a href="#" class="small" data-value="Media & Entertainment" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Media & Entertainment</a></li>
              <li><a href="#" class="small" data-value="Retail" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Retail</a></li>
              <li><a href="#" class="small" data-value="Insurance" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Insurance</a></li>
              <li><a href="#" class="small" data-value="Financial Markets" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Financial Markets</a></li>
              <li><a href="#" class="small" data-value="Government" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Government</a></li>
              <li><a href="#" class="small" data-value="Healthcare" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Healthcare</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Primary Skill
                    <span class="caret"></span></button>
            <ul class="dropdown-menu" id="pskill">
              <li><a href="#" class="small" data-value="BigInsights - Apache Hadoop" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;BigInsights - Apache Hadoop</a></li>
              <li><a href="#" class="small" data-value="Cognos Analytics (V11) overall" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cognos Analytics (V11) overall</a></li>
              <li><a href="#" class="small" data-value="Cognos Analytics Enterprise (includes administration / install / configuration)"
                  tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Cognos Analytics Enterprise (includes administration / install / configuration)</a></li>
              <li><a href="#" class="small" data-value="Data Integration (DataStage & BigIntegrate)" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Data Integration (DataStage & BigIntegrate)</a></li>
              <li><a href="#" class="small" data-value="DB2" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2</a></li>
              <li><a href="#" class="small" data-value="DB2 for z/OS" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2 for z/OS</a></li>
              <li><a href="#" class="small" data-value="DB2 zTools" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;DB2 zTools</a></li>
              <li><a href="#" class="small" data-value="Gardium DBAM" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Gardium DBAM</a></li>
              <li><a href="#" class="small" data-value="Infromix" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;Infromix</a></li>
              <li><a href="#" class="small" data-value="MDM Advanced Edition" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;MDM Advanced Edition</a></li>
              <li><a href="#" class="small" data-value="PureData for Analytics (PDA)" tabIndex="-1"><input name='chk' type="checkbox"/>&nbsp;PureData for Analytics (PDA)</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-1">
        <div class="hidden" style="height:40px;" id="loader">
          <div class="loader"></div>
        </div>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-primary" id="search">Search</button>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-primary" id="clear">Clear</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Market</th>
              <th>Skills</th>
              <th>Primary Ind.</th>
              <th>Secondary Ind.</th>
              <th>Primary Skill</th>
            </tr>
          </thead>
          <tbody id="tableList">

          </tbody>
        </table>
      </div>
    </div>
    <div id="test">

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/javascript/main.js"></script>

</body>

</html>