{% extends 'layout.html' %}
{% block title %} Skill Analytics - Login {% endblock %}
{% block body %}
<div class="container">
    <form accept-charset="UTF-8" role="form" form action="" method="post" class="form-signin">
        <label for="inputUsername" class="sr-only">Username</label>
        <input  id="inputUsername" class="form-control" placeholder="Username" name="username" type="text" required="true" autofocus="true" value="{{ request.form.username }}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword"class="form-control" placeholder="Password" name="password" type="password" required="true" value="{{ request.form.password }}">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
    </form>
</div>
{% endblock %}
